@model NiceAdmin.Models.EFModels.LessonCategory

@{
    ViewBag.Title = "Delete";
}



<main id="main" class="main">


    <h3>你確定要刪除嗎?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LessonCategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessonCategoryName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-actions no-color">
                @*<input type="submit" value="刪除" class="btn btn-outline-primary" />*@
                <button type="button" class="btn btn-outline-primary" onclick="confirmDelete(event)">刪除</button>

                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</main>
