@model List<NiceAdmin.Views.DessertOrders.TopSellingDessertsOrder>
@{
    ViewBag.Title = "TopSellingDessertsOrder";
}

<h2>前十熱銷的甜點訂單</h2>

<table class="table">
    <thead>
        <tr>
            <th>甜點編號</th>
            <th>熱銷甜點</th>
            <th>總金額排序</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.DessertId</td>
               <td>@order.DessertName</td>
                <td>@order.TotalAmount</td>
            </tr>
        }
    </tbody>
</table>

