
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@model List<NiceAdmin.Controllers.HomeController.DessertFrontIndexVM>

<main>
    
    <div class="container mt-5  ">
        <h2 class="w-25 mb-3">整模蛋糕</h2>
        <div class="row">

            @foreach (var dessert in Model)
            {
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card card1 border-0">
                        <div class="card-img h200px overflow-hidden object-fit-cover">
                            <img src="~/Uploads/@dessert.DessertImage1" alt="" />
                        </div>
                        <div class="card-body">
                            <a href="" class="cardlink text-decoration-none text-dark stretched-link">
                                <h5 class="card-title">@dessert.DessertName</h5>
                            
                            </a>
                            <div class="card-footer bg-white border-top-0 d-flex">
                                <p class="card-text">@dessert.Description</p>
                            </div>


                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</main>



