
@{
    ViewBag.Title = "Sierra";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<div class="container">
    <div class="row category">
        <button data-category_id="">全部</button>
        <button data-category_id="1">襯衫</button>
        <button data-category_id="2">褲子</button>
        <button data-category_id="3">鞋子</button>
        <button data-category_id="4">裙子</button>
    </div>
    <div class="row">
        <div class="productsPanel">
            <!-- <div class="card" data-category_id="1" data-product_id="101">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>襯衫 1</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="1" data-product_id="102">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>襯衫 2</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="1" data-product_id="103">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>襯衫 3</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="2" data-product_id="201">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>褲子 1</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="2" data-product_id="202">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>褲子 2</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="3" data-product_id="301">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>鞋子 1</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="3" data-product_id="302">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>鞋子 2</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="3" data-product_id="303">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>鞋子 3</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="3" data-product_id="304">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>鞋子 4</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="3" data-product_id="305">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>鞋子 5</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="card" data-category_id="4" data-product_id="401">
                <img src="https://via.placeholder.com/200x150" alt="">
                <div class="info">
                    <h3>裙子 1</h3>
                    <p class="description">商品描述</p>
                    <p class="price">NT$ 100</p>
                    <div class="add2Cart">
                        <button>加入購物車</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
