
@{
    ViewBag.Title = "Profiles";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>個人簡介</h1>
        <nav class="mt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="@Url.Action("Index","Home")">首頁</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">連結頁面</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">連結頁面</a></li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
</main>
