
@{
    ViewBag.Title = "ResetPassword";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>密碼變更</h1>
        <nav class="mt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="bi bi-house-door-fill"></i> 回首頁</a></li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->


    <div class="card" style="width:40%">
        <div class="card-body pt-3">

            <form>
                <div class="row mb-3">
                    <label for="currentPassword"
                           class="col-md-4 col-lg-3 col-form-label">當前密碼</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="password"
                               type="password"
                               class="form-control"
                               id="currentPassword" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="newPassword"
                           class="col-md-4 col-lg-3 col-form-label">新密碼</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="newpassword"
                               type="password"
                               class="form-control"
                               id="newPassword" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="renewPassword"
                           class="col-md-4 col-lg-3 col-form-label">確認新密碼</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="renewpassword"
                               type="password"
                               class="form-control"
                               id="renewPassword" />
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        變更密碼
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>



