
@{
	ViewBag.Title = "_LayoutLogin";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicons -->
	<link href="~/img/favicon.png" rel="icon" />
	<link href="~/img/apple-touch-icon.png" rel="apple-touch-icon" />

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		  rel="stylesheet" />

	<!-- Vendor CSS Files -->
	<link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css"
		  rel="stylesheet" />
	<link href="~/Scripts/vendor/bootstrap-icons/bootstrap-icons.css"
		  rel="stylesheet" />
	<link href="~/Scripts/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
	<link href="~/Scripts/vendor/quill/quill.snow.css" rel="stylesheet" />
	<link href="~/Scripts/vendor/quill/quill.bubble.css" rel="stylesheet" />
	<link href="~/Scripts/vendor/remixicon/remixicon.css" rel="stylesheet" />
	<link href="~/Scripts/vendor/simple-datatables/style.css" rel="stylesheet" />

	@*dataTable Css*@

	@*<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">*@
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">

	@* sweetalert *@
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
	@*<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">*@
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

	<!-- Template Main CSS File -->
	<link href="~/Content/style.css" rel="stylesheet" />
	<title>Document</title>
</head>
<body>
	@RenderBody()
	@RenderSection("scripts", required: false)
</body>
</html>

