
@{
    ViewBag.Title = "_LayoutFront";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sierra</title>
    <link href="~/Scripts/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <style>
        /* Reset default margin, padding, and box-sizing */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Normalize heading font weight */
        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
        }

        /* Header Styles */
        header {
            background-color: #faf0e6;
            display: flex;
            flex-wrap: wrap;
        }

        /* Logo Section */
        section.logo {
            flex: 2 1 400px;
            display: flex;
            align-items: center;
        }

            section.logo h1 {
                font-size: 2.5rem;
            }

        header section.logo img {
            width: 6vw;
            height: 6vh;
        }

        /* Navigation Styles */
        nav {
            flex: 5 1 500px;
            margin-top: 20px;
        }

            nav ul {
                display: flex;
                list-style-type: none;
                justify-content: space-around;
            }

                nav ul li a {
                    color: #647066;
                    text-decoration: none;
                    font-size: 1.35rem;
                    transition: all 0.2s ease;
                    padding-bottom: 0.3rem;
                }

                    nav ul li a:hover {
                        color: #efc396;
                        border-bottom: 3px solid #efc396;
                    }

        /* Main Content Styles */
        main h2 {
            margin: 20px 0 0 150px;
        }

        /* Card Styles */
        .card img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.2s;
        }

        .card:hover img {
            transform: scale(1.1);
        }

        /* Utility Classes */
        .w-200px {
            width: 200px;
        }

        .h-620px {
            height: 620px;
        }

        .fz40px {
            font-size: 40px;
        }

        .fz26px {
            font-size: 26px;
        }

        .w-16px {
            width: 16px;
        }

        .w-35px {
            width: 35px;
        }

        .txt-shadow {
            text-shadow: 0.1em 0.1em 0.2em black;
        }

        .mar-negtive {
            margin-bottom: -40px;
        }

        .cl {
            color: #647066;
        }

        .marginbot {
            margin: -40px;
        }

        .h200px {
            height: 200px;
        }

        #btn {
            position: fixed;
            bottom: 16px;
            right: 16px;
        }
    </style>
    <link rel="stylesheet" href="~/Content/animation.css" />
</head>
<body>
    <div class="animation">
        <div class="logo ">
            <svg width="77" height="105" viewBox="0 0 77 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M56.8858 30.1122L57.1471 32.3182H59.3685H70.0219H72.6038L72.5206 29.7376C72.3565 24.6524 70.7705 20.06 67.7685 16.033C64.8255 12.0456 60.8646 8.95229 55.9701 6.72647C51.0356 4.45269 45.4626 3.34801 39.3045 3.34801C33.1939 3.34801 27.5846 4.47167 22.5185 6.76512C17.4826 9.02868 13.3985 12.252 10.3398 16.4496L10.3378 16.4524C7.24796 20.705 5.7321 25.6692 5.7321 31.2386C5.7321 37.9947 8.04811 43.6464 12.7597 47.9541L14.3606 46.203L12.7597 47.9541C17.2626 52.0711 23.2634 55.1403 30.6237 57.2564L30.6277 57.2575L41.8138 60.4535L41.8226 60.456L41.8315 60.4585C44.9302 61.3193 47.7968 62.3188 50.435 63.4535C52.9116 64.5187 54.8108 65.8603 56.2143 67.4362C57.4183 68.7881 58.1114 70.6137 58.1114 73.142C58.1114 75.9229 57.3068 78.2706 55.7202 80.2922C54.0705 82.3647 51.7919 84.0487 48.785 85.3008C45.7872 86.5198 42.3444 87.1548 38.4168 87.1548C35.0607 87.1548 31.9654 86.661 29.1134 85.6942C26.3679 84.7246 24.1594 83.2874 22.424 81.4055C20.8293 79.6174 19.8564 77.314 19.6007 74.3478L19.4037 72.0625H17.1099H5.74631H3.06137L3.25266 74.7406C3.638 80.1353 5.30343 84.9506 8.2862 89.1135L8.2938 89.124C11.3042 93.2796 15.4004 96.4728 20.4905 98.7315L20.4957 98.7338C25.647 101.005 31.6432 102.098 38.4168 102.098C45.6686 102.098 51.9915 100.885 57.2938 98.3474C62.5574 95.8419 66.6701 92.4043 69.5033 87.9922C72.3493 83.6065 73.7648 78.6931 73.7648 73.3196C73.7648 68.7191 72.8211 64.6556 70.7934 61.2532C68.8747 58.0337 66.4169 55.3707 63.4235 53.2955C60.596 51.2865 57.6134 49.691 54.4775 48.5185C51.5207 47.4023 48.806 46.516 46.3388 45.868C46.3363 45.8673 46.3338 45.8667 46.3313 45.866L37.1136 43.3843L37.1067 43.3824L37.0999 43.3806C35.496 42.9585 33.718 42.4049 31.7626 41.7151C29.9155 41.0349 28.1498 40.1793 26.4633 39.1468C24.9172 38.1721 23.6679 36.9796 22.6891 35.5663C21.8545 34.2947 21.3855 32.7119 21.3855 30.706C21.3855 28.3214 22.0542 26.2528 23.3869 24.4168C24.775 22.545 26.7369 21.0123 29.3791 19.8605C32.0223 18.7211 35.1929 18.1136 38.9494 18.1136C44.072 18.1136 48.2158 19.2667 51.516 21.4324C54.6866 23.5132 56.44 26.3477 56.8858 30.1122Z" stroke="white" stroke-width="2" id="first" class="thePaths" />
            </svg>
            <svg width="22" height="101" viewBox="0 0 22 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9765 5.09091V2.59091H16.4765H5.46802H2.96802V5.09091V96V98.5H5.46802H16.4765H18.9765V96V5.09091Z" stroke="white" stroke-width="2" id="second" class="thePaths" />
            </svg>
            <svg width="67" height="101" viewBox="0 0 67 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.15503 96V98.5H5.65503H61.2303H63.7303V96V86.2344V83.7344H61.2303H19.1636V57.8395H57.6792H60.1792V55.3395V45.5739V43.0739H57.6792H19.1636V17.3565H60.5201H63.0201V14.8565V5.09091V2.59091H60.5201H5.65503H3.15503V5.09091V96Z" stroke="white" stroke-width="2" id="third" class="thePaths" />
            </svg>
            <svg width="79" height="101" viewBox="0 0 79 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.53052 96V98.5H5.03052H16.039H18.539V96V62.9886H35.9254C36.2083 62.9886 36.4896 62.9868 36.7692 62.9832L55.2092 97.1864L55.9174 98.5H57.4098H70.1939H74.414L72.3864 94.7989L53.21 59.7943C53.6239 59.606 54.0301 59.409 54.4286 59.2033L54.4286 59.2033L54.44 59.1973C59.3738 56.6176 63.1203 53.0156 65.5682 48.3845C67.974 43.833 69.1427 38.6721 69.1427 32.9673C69.1427 27.2618 67.9738 22.0774 65.575 17.4743C63.1302 12.7831 59.3707 9.13344 54.4067 6.52122C49.3785 3.84538 43.111 2.59091 35.7479 2.59091H5.03052H2.53052V5.09091V96ZM35.5703 48.0455H18.539V17.3565H35.3927C40.0826 17.3565 43.6031 18.0822 46.1178 19.352L46.1266 19.3565L46.1355 19.3609C48.6859 20.6235 50.4395 22.3531 51.5338 24.5417C52.6907 26.8555 53.3118 29.6402 53.3118 32.9673C53.3118 36.2974 52.6897 39.0229 51.549 41.23L51.544 41.2396C50.4954 43.2903 48.7764 44.94 46.2159 46.1568L46.2072 46.161C43.7078 47.3607 40.2135 48.0455 35.5703 48.0455Z" stroke="white" stroke-width="2" id="fourth" class="thePaths" />
            </svg>
            <svg width="79" height="101" viewBox="0 0 79 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.53052 96V98.5H5.03052H16.039H18.539V96V62.9886H35.9254C36.2083 62.9886 36.4896 62.9868 36.7692 62.9832L55.2092 97.1864L55.9174 98.5H57.4098H70.1939H74.414L72.3864 94.7989L53.21 59.7943C53.6239 59.606 54.0301 59.409 54.4286 59.2033L54.4286 59.2033L54.44 59.1973C59.3738 56.6176 63.1203 53.0156 65.5682 48.3845C67.974 43.833 69.1427 38.6721 69.1427 32.9673C69.1427 27.2618 67.9738 22.0774 65.575 17.4743C63.1302 12.7831 59.3707 9.13344 54.4067 6.52122C49.3785 3.84538 43.111 2.59091 35.7479 2.59091H5.03052H2.53052V5.09091V96ZM35.5703 48.0455H18.539V17.3565H35.3927C40.0826 17.3565 43.6031 18.0822 46.1178 19.352L46.1266 19.3565L46.1355 19.3609C48.6859 20.6235 50.4395 22.3531 51.5338 24.5417C52.6907 26.8555 53.3118 29.6402 53.3118 32.9673C53.3118 36.2974 52.6897 39.0229 51.549 41.23L51.544 41.2396C50.4954 43.2903 48.7764 44.94 46.2159 46.1568L46.2072 46.161C43.7078 47.3607 40.2135 48.0455 35.5703 48.0455Z" stroke="white" stroke-width="2" id="fifth" class="thePaths" />
            </svg>
            <svg width="94" height="101" viewBox="0 0 94 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5009 98.5H21.2663L21.8569 96.8363L30.4057 72.7543H63.6387L72.1876 96.8363L72.7781 98.5H74.5435H86.0847H89.6659L88.4315 95.1383L55.0508 4.2292L54.4493 2.59091H52.704H41.3404H39.5952L38.9936 4.2292L5.61292 95.1383L4.37854 98.5H7.95972H19.5009ZM47.0222 25.9457L58.3971 57.9886H35.6474L47.0222 25.9457Z" stroke="white" stroke-width="2" id="sixteenth" class="thePaths" />
            </svg>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="container">
                <div class="d-flex align-items-center">
                    <img src="~/img/logoNew.png" alt="" class="w-25" />
                    <a href="#" class="navbar-brand fz40px cl">SIERRA</a>
                </div>
                <!-- End Logo -->

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle fz26px cl"
                           data-bs-toggle="dropdown">課程</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">最新課程</a></li>
                            <li><a href="#" class="dropdown-item">熱門課程</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle fz26px cl"
                           data-bs-toggle="dropdown">師資</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">師資介紹</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle fz26px cl"
                           data-bs-toggle="dropdown">甜點</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("NewDesserts","Home")" class="dropdown-item">新品上市</a></li>
                            <li><a href="@Url.Action("Sierras","Home")" class="dropdown-item">整模蛋糕</a></li>
                            <li><a href="#" class="dropdown-item">常溫蛋糕</a></li>
                            <li><a href="#" class="dropdown-item">甜點</a></li>
                            <li><a href="#" class="dropdown-item">禮盒</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle fz26px cl"
                           data-bs-toggle="dropdown">常見問題</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">運費相關</a></li>
                            <li><a href="#" class="dropdown-item">宅配需求</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#"
                           class="nav-link dropdown-toggle fz26px cl"
                           data-bs-toggle="dropdown">文章</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">部落格文章</a></li>
                            <li><a href="#" class="dropdown-item">熱門文章</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        const text = document.querySelectorAll(".thePaths");
        for (let i = 0; i < text.length; i++) {
            console.log(`text number ${i} length is ${text[i].getTotalLength()}`)
        }
        const lastWord = document.querySelector("#sixteenth")
        const animation = document.querySelector("div.animation");
        lastWord.addEventListener("animationend", () => {
            animation.style = "transition: all 1s ease; opacity:0; pointer-events:none;";
        });
        //lastWord.addEventListener("animationend", () => {
        //    animation.style = "transition: all 1s ease; opacity: 0; pointer-events: none;";
        //    content.classList.add("content-show");
        //});
    </script>
</body>
</html>
