
@{
    ViewBag.Title = "_LayoutError";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Pages / Not Found 404</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />


    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="~/Scripts/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link href="~/Scripts/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/simple-datatables/style.css" rel="stylesheet" />

    @*dataTable Css*@

    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">

    @* sweetalert *@
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    @*<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!-- Template Main CSS File -->
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>

    @RenderBody()
    <a href="#"
       class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/Scripts/vendor/apexcharts/apexcharts.amd.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vendor/chart.js/chart.umd.js"></script>
    <script src="~/Scripts/vendor/echarts/echarts.min.js"></script>
    <script src="~/Scripts/vendor/quill/quill.min.js"></script>
    @*<script src="~/Scripts/vendor/simple-datatables/simple-datatables.js"></script>*@
    <script src="~/Scripts/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>


