@{
    ViewBag.Title = "無權使用";
}
<main>
    <div class="container">
        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center mt-5">
            <h1>權限不足</h1>

            <h2 class="text-center"> 很抱歉，您沒有足夠的權限來存取此頁面。</h2>

                <button class="btn btn-sm btn-outline-primary"> <a class="btn" href="@Url.Action("Index","Home")">返回首頁</a></button>
                
            <img src="~/img/not-found.svg"
                 width="700" height="700"
                 alt="Page Not Found" />

        </section>
    </div>
</main>