@using NiceAdmin.Models.ViewModels.DessertsVM
@{
    ViewBag.Title = "SierraIndex";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var hotProducts = ViewBag.HotProducts as List<NiceAdmin.Models.ViewModels.DessertFrontIndexVM>;
}


<main>
    <div class="carousel slide h-620px w-100"
         id="slide1"
         data-bs-ride="carousel"
         data-bs-interval="3000">
        <div class="carousel-inner h-100 carousel-fade">
            <div class="carousel-item h-100 active">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/orangeSlice.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    香橙檸檬蛋糕
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/caraMocha.png"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    抹茶草莓千層
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover" src="~/img/Desserts/mochaSlice.jpg" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    抹茶巴斯克
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/lemon.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    檸檬蛋糕
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/taro.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    芋香蛋糕
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/stawberry.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold txt-shadow text-white w-50">
                    草莓蛋糕
                </div>
            </div>

        </div>
        <div class="carousel-indicators position-absolute marginbot">
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="0"
                    aria-label="第1張"
                    class="active text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="1"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="2"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="3"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="4"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="5"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="6"
                    class="text-bg-dark opacity-50"></button>


            <div class="ctrl position-absolute end-0 bottom-50 text-white me-2 z-1"
                 data-bs-target="#slide1"
                 data-bs-slide="next">
                <i class="fa-solid fa-circle-right fz30px opacity-75"></i>
            </div>
            <div class="ctrl position-absolute end-0 bottom-50 text-white me-5 z-1"
                 data-bs-target="#slide1"
                 data-bs-slide="prev">
                <i class="fa-solid fa-circle-left fz30px opacity-75"></i>
            </div>
        </div>
        <div class="Grid-row-wrapper mt-5">
            <div class="Grid-row">
               <div id="page-item-5de9c320b3d99f003c980f1c" class="Grid-item Grid-text-item">
                    <div class="Grid-item-title primary-border-color-after">                <!---->                              </div>                                      
                   <div class="Grid-item-content">
                      

                        <p style="text-align: center;">
                            <span style="color: rgb(0, 0, 0); font-weight: 700; text-align: center; font-size:20px; margin-top:20px;">SIERRA嚴選優質食材，簡單純粹的自然美味</span><br>
                            <br>
                            &nbsp;
                        </p>

                        <p style="text-align: center;"><span style="font-size: 16px;"><span style="font-weight: 700;">日本海藻糖</span></span></p>

                        <p style="text-align: center;"><span style="font-size:14px;">低糖度、低熱量，爽口不膩的清爽新選擇</span></p>

                        <p style="text-align: center;">&nbsp;</p>

                        <p style="text-align: center;">
                            <strong>日本菓子粉</strong><br>
                            <span style="font-size:14px;">純小麥製作，100%純天然、無人工添加物</span>
                        </p>

                        <p style="text-align: center;">&nbsp;</p>

                        <p style="text-align: center;">
                            <strong>法國發酵奶油</strong><br>
                            <span style="font-size:14px;">濃郁奶香，柔順絲滑的頂級奶油</span>
                        </p>

                        <p style="text-align: center;">&nbsp;</p>

                        @*<p style="text-align: center;">&nbsp;</p>*@
                    </div>
                </div>
            </div>
        </div>
      
        <div class="row mt-3  justify-content-center align-items-center">
            <div class="col col-sm-12">
                <h2 class="hotProd mb-4" style="margin-left:300px">熱銷商品</h2>
                <div class="d-flex hotProd justify-content-center" style="margin-left: 220px">
                    @foreach (var prod in hotProducts)
                    {<div class="col mb-3">
                            @Html.Partial("HotDessertsPartialView", prod)
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</main>