@using NiceAdmin.Models.ViewModels.DessertsVM
@{
    ViewBag.Title = "SierraIndex";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var hotProducts = ViewBag.HotProducts as List<NiceAdmin.Models.ViewModels.DessertFrontIndexVM>;
}


<main>
    <div class="carousel slide h-620px w-100"
         id="slide1"
         data-bs-ride="carousel"
         data-bs-interval="3000">
        <div class="carousel-inner h-100 carousel-fade">
            <div class="carousel-item h-100 active">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/mocha.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    抹茶草莓千層
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/blueberry.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    藍莓乳酪蛋糕
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/brownii.jpeg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    巧克力布朗尼
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/Canele.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    大溪地香草可麗露
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/caramel.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold text-white txt-shadow w-50">
                    焦糖肉桂捲
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 object-fit-cover"
                     src="~/img/Desserts/lemon.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 fs-4 fw-bold txt-shadow text-white w-50">
                    老奶奶檸檬蛋糕
                </div>
            </div>
            <div class="carousel-item h-100">
                <img class="d-block w-100 h-100 object-fit-cover"
                     src="~/img/Desserts/earlcheese.jpg"
                     alt="" />
                <div class="carousel-caption position-absolute start-0 txt-shadow fs-4 fw-bold text-white w-50">
                    伯爵起司蛋糕
                </div>
            </div>

        </div>
        <div class="carousel-indicators position-absolute marginbot">
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="0"
                    aria-label="第1張"
                    class="active text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="1"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="2"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="3"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="4"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="5"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="6"
                    class="text-bg-dark opacity-50"></button>
            <button type="button"
                    data-bs-target="#slide1"
                    data-bs-slide-to="7"
                    class="text-bg-dark opacity-50"></button>


            <div class="ctrl position-absolute end-0 bottom-50 text-white me-2 z-1"
                 data-bs-target="#slide1"
                 data-bs-slide="next">
                <i class="fa-solid fa-circle-right fz30px opacity-75"></i>
            </div>
            <div class="ctrl position-absolute end-0 bottom-50 text-white me-5 z-1"
                 data-bs-target="#slide1"
                 data-bs-slide="prev">
                <i class="fa-solid fa-circle-left fz30px opacity-75"></i>
            </div>
        </div>
        <div class="row mt-3 justify-content-center align-items-center">
            <div class="col-md-4">
                <h2 class="hotProd">熱門商品</h2>
                <div class="row hotProd ms-2">
                    @foreach (var prod in hotProducts)
                    {
                        Html.RenderPartial("HotDessertsPartialView", prod);
                    }
                </div>
            </div>
        </div>
    </div>
</main>