
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@model List<NiceAdmin.Models.ViewModels.DessertFrontIndexVM>
<main>

    <div class="container mt-5  ">
        <h2 class="w-25 mb-3">整模蛋糕</h2>
        <div class="row">

            @foreach (var dessert in Model)
            {
                <div class="col-xl-3 col-lg-6 col-md-12">
                    <div class="card card1 border-0">
                        <div class="card-img h200px overflow-hidden object-fit-cover">
                            <img src="~/Uploads/@dessert.DessertImageName" alt="" />
                        </div>
                        <div class="card-body">
                            <a href="" class="cardlink text-decoration-none text-dark stretched-link">
                                <h5 class="card-title">@dessert.DessertName</h5>

                            </a>
                            @*<div class="card-footer bg-white border-top-0 d-flex">
                                    <p class="card-text">@dessert.Description</p>
                                </div>*@
                            <div class="card-footer bg-white border-top-0 d-flex">
                                <p class="card-text">@dessert.UnitPrice</p>
                            </div>

                        </div>

                    </div>
                </div>
            }
        </div>
        <div id="currentTimeContainer">

        </div>
    </div>
</main>
@section scripts{

    <script>
    function updateTime() {
        $.ajax({
            url: "@Url.Action("CurrentTime", "Home")",
            type: "GET",
            success: function (result) {
                // Update the displayed time
                $("#currentTimeContainer").html(result);

                // Loop through the desserts and check if their scheduled publish date has passed
                var currentTime = new Date(result);
                $(".scheduledPublishDate").each(function () {
                    var scheduledPublishDate = new Date($(this).data("scheduled-publish-date"));
                    if (currentTime >= scheduledPublishDate) {
                        // The scheduled publish date has passed, update the dessert status
                        var dessertId = $(this).data("dessert-id");
                        var statusElement = $("#status_" + dessertId);
                        statusElement.text("Status: On Shelf");
                        statusElement.removeClass("text-danger").addClass("text-success");
                    }
                });
            }
        });
    }

    // Call updateTime initially
    updateTime();

    // Set interval to call updateTime every second
    setInterval(updateTime, 1000);
    </script>
}


