
@using NiceAdmin.Models.ViewModels.LessonsVM
@{
    var totalLessonsCount = ViewBag.TotalLessonsCount;
}
<div class="ps-3 ms-2">
    <h6>@totalLessonsCount 門</h6>
    @*<span class="text-success small pt-1 fw-bold">12%</span>
        <span class="text-muted small pt-2 ps-1">increase</span>*@
</div>

