@using NiceAdmin.Models.ViewModels.DessertsVM
@{
    ViewBag.Title = "SierraIndex";
    var hotProducts = ViewBag.HotProducts as List<NiceAdmin.Models.ViewModels.DessertFrontIndexVM>;
}
<div class="table-responsive">
    <table class="table table-striped table-hover" id="TopSell">
        <thead>
            <tr>
                <th>
                    甜點圖片
                </th>
                <th>
                    甜點名稱
                </th>
                <th>
                    售價
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in hotProducts)
            {
                <tr>

                    <td>
                        @*@Html.DisplayFor(modelItem => item.Category.CategoryName)*@
                        @*@Html.DisplayFor(modelItem => item.CategoryName)*@
                        <img src="~/Uploads/@prod.DessertImageName" width="100" height="100" />
                        
                    </td>
                    <td>
                        @prod.DessertName
                    </td>
                    <td>
                        @prod.UnitPrice
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
